 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    
:root {
 --green : #28a745;
 --red : #dc3545;
}
   body{ font-family: 'Roboto', sans-serif;/* background-color : #151515; */}

    }   

    
.card-columns {

  margin: auto;
  border-radius: 20px;

 
}

.container {
    margin: auto;
}